
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eaebe4;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(34, 29, 29);
  margin-bottom: -5px;
}
.form {
  width: 370px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3fb599a8;
  padding: 10px;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  font-family: 'Open Sans', sans-serif;
  transition: all 0.5s ease;
  margin-top: 10px;
  margin-bottom: -10px;
}

.form__div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  margin-bottom: -20px;
  justify-content: space-between
}

.form__butom{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px;
  position: relative;
  margin-bottom: -20px;
  justify-content: space-between
}

.form__div--label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.2rem;
  width: 100%;
  color: var(--tertiary-color);
  font-weight: bold;
}

.label__div--input {
  list-style: none;
  box-sizing: border-box;
  padding: 5px 10px 5px 30px;
  border: 0;
  margin: 10px 0 20px 0;
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 1rem;
  background-color: var(--tertiary-color);
}

.form__label--inputCheckbox {
  align-self: flex-start;
  width: 20px;
  height: 20px;
}

.form__div--switch {
  max-width:65px;
  height: 45px;
  background-color: #ff4081;
  display: flex;
  align-self: flex-start;
  border-radius: 2rem;
  margin: 10px 0;
}

 .form__label--inputCheckbox:checked  {
  background-color:var(--tertiary-color);
  margin-left: 0;
  transition: all 0.5s ease;
}

 .form__label--inputCheckbox {
  margin: 0;
  padding: 0;
  border: none;
  appearance: none;
  border-radius: 3px;
  background-color:var(--text-color);
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  margin-left: calc(60px - 35px);
  transition: all 0.5s ease;
}

.form-button {
  border: none;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 8px;
  border-radius: 25px;
  width: 50%;
  margin-top: 10px;
  transition: all 0.5s ease;
  font-weight: 700;
  font-size: 1.2rem;
}

.form-button:hover {
  box-shadow: var(--shadow-elevation-high);
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
  position: absolute;
  left: 2%;
  top: 50%;
}

.label__error {
  color: #ff4081;
  align-self: flex-start;
  position: absolute;
  top: 50%;
  left: 15%;
  font-size: 0.8rem;
  z-index: 0;
  font-weight: 700;
}

.error {
  border: 1px solid #ff4081;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: radial-gradient(circle, #ffc0cb, #ffffe0);
}

.ul__li--disponible {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: linear-gradient(to right, #e8e2e3, #ffffe0);  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  min-height: 300;
  max-height: 400px;
  padding: 10px;
  margin: 10px;
}



.ul__li--h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.li__h2--span {
  font-size: 1.5rem;
  color: #3925ba;
  font-weight: 700;

}

.ul__li--h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 400;
}

.ul__li--divAvailable {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  height: auto;
  position: relative;
}

.icon--available {
  width: 25px;
  margin-left: 20px;
  position: absolute;
}

.ul__li--h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.ul__li--div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: initial;
  margin-bottom: -5px;
  margin-top: -30px;
}

.ul__li--button {
  border: none;
  background-color: transparent;
  color: var(--tertiary-color);
  padding: 8px;
  border-radius: 5px;
  width: 50px;
  margin: 30px 20px 10px 20px;
  transition: all 0.5s ease;
  margin-right: 10px;
}

.ul__li--button:hover {
  box-shadow: var(--shadow-elevation-high);
  cursor: pointer;
  background-color: var(--tertiary-color);
}

.button--icon {
  width: 30px;
}

.div--load {
  max-width: 100vw;
  height: 100vh;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: wait;
  font-size: 40px;
  color: var(--tertiary-color);
}

.div--popUp {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    max-height: 50%;
    overflow: auto;
    background: #b1aec8;
    padding: 5px;
    border-radius: 3px;
    z-index: 3;
}

.div__div--popUp {
  width: 70vw;
  height: 300px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 1s;
}

.div__h2--popUp {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
}

.div__img--popUp {
  width: 50px;
}

.div--error {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-color);
  font-size: 1.4rem;
  text-align: center;
  z-index: 4;
  color: var(--tertiary-color);
}

.div__img--error {
  margin-top: 40px;
  width: 350px;
}

.card {
  transition: transform 0.3s ease-in-out;
  opacity: 1;
  
}

.card:hover {
  transform: scale(1.05);
  opacity: 0.8;
}
